# Dependencies
node_modules

# Build outputs
dist
build

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Test
coverage

# Angular
.angular

# TypeScript
*.tsbuildinfo

# Editors
*.editorconfig
*.eslintrc*
.prettierrc
